@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;

  font-display: swap;
  src: local("Oswald Regular"), local("Oswald-Regular"),
  url("../fonts/oswald-v16-cyrillic_latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/oswald-v16-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.screen-reader {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}
