$mobile-size: 320px;
$mobile-size-max: 767px;
$tablet-size: 768px;
$tablet-size-max: 1439px;
$desktop-size: 1300px;

$bg-white: #ffffff;
$bg-gray: #f2f2f2;

$font-color-black: #111111;
$font-color-white: #ffffff;
