$mobile-size: 320px;
$mobile-size-max: 767px;
$tablet-size: 768px;
$tablet-size-max: 1439px;
$desktop-size: 1300px;

$mobile-side-indent: 6.25%;
$tablet-side-indent: 3.91%;
$desktop-side-indent: 40px;

$bg-white: #ffffff;
$bg-gray: #f2f2f2;

$font-color-black: #111111;
$font-color-white: #ffffff;
