.example {
  box-sizing: border-box;
  min-width: $mobile-size;
  max-width: $mobile-size-max;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 6.25%;
  padding-bottom: 36px;
  padding-left: 6.25%;

  background-color: $bg-gray;
}

.example__title {
  @include h-reset;
}

.example__info {
  @include p-reset;

  margin-top: 25px;

  font-size: 14px;
  line-height: 18px;
}

.examples__results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 26px;
}

.example__result-container {
  position: relative;

  box-sizing: border-box;
  width: 44.29%;
  height: 56px;

  border: 1px solid #cdcdcd;
}

.example__name {
  display: block;
  width: 100%;
  margin-top: 8px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: center;
  color: $font-color-black;
}

.example__description {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 42px);

  display: block;
  width: 84px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: #f2f2f2;
}

.example__cost {
  display: block;
  width: 100%;
  margin-top: 34px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: center;
  color: $font-color-black;
  text-transform: uppercase;

  br {
    display: none;
  }
}

.example__demonstration-container {
  margin-top: 35px;
}

.example__image-container {
  position: relative;

  line-height: 0;
}

.example__image-before {
  display: block;
  margin: 0 auto;
}

.example__image-after {
  position: absolute;
  top: 0;
  left: calc(50% - 120px);

  display: none;
  margin: 0 auto;
}

.example__slider-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  margin-top: 26px;
}

.example__toogle {
  @include btn-reset;

  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }
}

.example__range {
  position: relative;

  align-self: center;
  box-sizing: border-box;
  width: 84px;
  height: 14px;

  border: 1px solid #cdcdcd;
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;

    width: 35px;
    height: 6px;

    background: #68b738;
    border-radius: 3px;
  }
}

@media (min-width: $tablet-size) {
  .example {
    min-width: $tablet-size;
    max-width: $tablet-size-max;
    padding-top: 43px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

    background-color: transparent;
  }

  .example__text-container {
    margin-right: 3.91%;
    margin-left: 3.91%;
  }

  .example__info {
    margin-top: 65px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__result-container {
    width: 22.81%;
    height: 72px;
    margin-right: 5.5%;
  }

  .example__description {
    background-color: $bg-white;
  }

  .examples__results {
    justify-content: flex-start;
    margin-top: 54px;
  }

  .example__name {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
  }

  .example__description {
    bottom: -6px;
    left: calc(50% - 57px);

    width: 114px;

    font-size: 14px;
    line-height: 14px;
  }

  .example__description:nth-child(2) {
    left: calc(50% - 71px);

    width: 142px;
  }

  .example__cost {
    align-self: center;
    width: auto;
    margin-top: 0;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: right;

    br {
      display: block;
    }
  }

  .example__demonstration-container {
    position: relative;

    height: 460px;
    margin-top: 253px;

    background-color: $bg-gray;
  }

  .example__image-container {
    position: absolute;
    top: 0;
    left: calc(50% - 354px);

    width: 708px;
    margin-top: -170px;
  }

  .example__image-before-container {
    position: relative;
    z-index: 1;

    display: inline-block;
    width: 354px;
    overflow: hidden;

    background-image: linear-gradient(to bottom, #ffffff 170px, #f2f2f2 170px);
  }

  .example__image-before {
    display: block;
    margin-top: 20px;
    margin-left: 15px;
  }

  .example__image-after-container {
    position: absolute;
    top: 0;
    right: 0;

    width: 354px;
  }

  .example__image-after {
    position: static;

    display: block;
    margin-left: -250px;
  }


  .example__slider-container {
    position: absolute;
    bottom: 68px;
    left: calc(50% - 287.5px);

    width: 575px;
    margin-top: 0;
  }

  .example__toogle {
    padding-bottom: 7px;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted #bebebe;

    transition: border 0.2s ease-in;

    &:hover {
      border-bottom: 1px solid #989898;
      opacity: 1;
    }

    &:focus {
      border-bottom: 1px solid #989898;
      opacity: 1;
    }

    &:active {
      border-bottom-color: transparent;
      opacity: 1;
    }
  }

  .example__range {
    width: 428px;
    height: 6px;

    background-color: #dcdcdc;

    &::before {
      top: calc(50% - 17px);
      left: calc(50% - 17px);

      box-sizing: border-box;
      width: 34px;
      height: 34px;

      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
      inset 0 0 0 12px #ffffff,
      inset 0 0 0 17px #68b738;
    }

    &:hover {
      &::before {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25),
        inset 0 0 0 12px #ffffff,
        inset 0 0 0 17px #68b738;
      }
    }

    &:focus {
      outline: none;
      &::before {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25),
        inset 0 0 0 12px #ffffff,
        inset 0 0 0 17px #68b738;
      }
    }

    &:active {
      &::before {
        border-width: 2px;
        border-color: #68b738;
      }
    }
  }
}

@media (min-width: $desktop-size) {
  .example {
    display: flex;
    justify-content: space-between;
    min-width: $desktop-size;
    max-width: 100%;
    margin-top: 269px;
    padding-top: 70px;
    padding-right: 7.64%;
    padding-bottom: 0;
    padding-left: 7.64%;

    background-color: $bg-gray;
  }

  .example__text-container {
    position: relative;

    width: 435px;
    margin-right: 0;
    margin-left: 0;
  }

  .example__title {
    position: absolute;
    top: -208px;
    left: 0;
  }

  .example__info {
    margin-top: 0;
  }

  .examples__results {
    margin-top: 70px;
  }

  .example__result-container {
    width: 162px;
  }

  .example__description {
    background-color: $bg-gray;
  }

  .example__cost {
    margin-top: 60px;
    margin-left: 0;

    br {
      display: none;
    }
  }

  .example__cost-summ {
    margin-left: 59px;
  }

  .example__demonstration-container {
    width: 650px;
    height: 395px;
    margin-top: 0;
  }

  .example__image-container {
    margin-top: -260px;
  }

  .example__image-before-container {
    background-image: linear-gradient(to bottom, #ffffff 190px, $bg-gray 190px);
  }

  .example__slider-container {
    bottom: 70px;
  }
}
