.features {
  box-sizing: border-box;
  min-width: $mobile-size;
  max-width: $mobile-size-max;
  padding-right: 6.25%;
  padding-left: 6.25%;
}

.features__list {
  @include list-reset;
}

.features__item {
  position: relative;

  margin-top: 20px;
  padding-top: 30px;
  padding-right: 11.25%;
  padding-bottom: 18px;
  padding-left: 6.25%;

  background-color: $bg-gray;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 6.25%;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }
}

.features__item:nth-child(1) {
  &::after {
    top: 21px;
    left: calc(6.25% + 7px);

    width: 35px;
    height: 49px;

    background-image: url(../img/feature-1.svg);
  }
}

.features__item:nth-child(2) {
  &::after {
    top: 35px;
    left: calc(6.25% - 9px);

    width: 67px;
    height: 28px;

    background-image: url(../img/feature-2.svg);
  }
}

.features__title {
  @include h-reset;

  padding-left: 72px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: $font-color-black;
  text-transform: uppercase;
}

.features__description {
  @include p-reset;

  margin-top: 29px;
  padding-bottom: 21px;

  font-size: 14px;
  line-height: 18px;

  border-bottom: 1px solid #d9d9d9;
}

.features__link {
  position: relative;

  display: inline-block;
  margin-top: 4px;
  margin-top: 18px;
  padding-right: 36px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: $font-color-black;
  text-transform: uppercase;
  text-decoration: none;

  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1.5px);
    right: 5px;

    width: 19px;
    height: 3px;

    background-color: #3e4242;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5.5px);
    right: 0;

    border: 5.5px solid transparent;
    border-right-width: 0;
    border-left-width: 6px;
    border-left-color: #3e4242;
  }
}

@media (min-width: $tablet-size) {
  .features {
    min-width: $tablet-size;
    max-width: $tablet-size-max;
    padding-right: 3.91%;
    padding-left: 3.91%;
  }

  .features__item {
    margin-top: 30px;
    padding-top: 75px;
    padding-right: 280px;
    padding-bottom: 54px;
    padding-left: 7.77%;

    &::before {
      top: 92px;
      right: 64px;
      left: auto;

      width: 200px;
      height: 200px;
    }
  }

  .features__item:nth-child(1) {
    &::after {
      top: 80px;
      right: 95px;
      left: auto;

      width: 140px;
      height: 194px;

      background-size: 140px 194px;
    }
  }

  .features__item:nth-child(2) {
    &::after {
      top: 135px;
      right: 30px;
      left: auto;

      width: 268px;
      height: 112px;

      background-size: 268px 112px;
    }
  }

  .features__title {
    padding-left: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .features__description {
    margin-top: 25px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .features__link {
    margin-top: 58px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-size) {
  .features {
    min-width: $desktop-size;
    max-width: 100%;
    padding-right: 7.64%;
    padding-left: 7.64%;
    margin-top: 47px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 46.72%;
    padding-right: 50px;
    padding-left: 55px;

    &::before {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  .features__item:nth-child(1) {
    &::after {
      top: 41px;
      left: 66px;

      width: 70px;
      height: 97px;

      background-size: 70px 97px;
    }
  }

  .features__item:nth-child(2) {
    &::after {
      top: 69px;
      left: 34px;

      width: 134px;
      height: 56px;

      background-size: 134px 56px;
    }
  }

  .features__title {
    margin-left: 163px;
  }

  .features__description {
    margin-top: 74px;
    margin-bottom: 31px;
  }

  .features__link {
    align-self: flex-start;
    margin-top: auto;
  }
}
