@media (max-width: $mobile-size-max) {
  .main-nav {
    display: none;
  }

  .main-nav--open {
    display: block;
  }

  .main-nav__list {
    @include list-reset;
  }

  .main-nav__item {
    display: flex;
    align-items: center;
    min-height: 66px;

    border-bottom: 1px solid #e6e6e6;

    a {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding-right: 6.25%;
      padding-left: 6.25%;

      font-weight: 500;
      font-size: 20px;
      line-height: 66px;
      font-family: "Oswald", Arial, Helvetica, sans-serif;
      text-align: center;
      color: $font-color-black;
      text-transform: uppercase;
      text-decoration: none;

      transition: opacity 0.2s ease-in;

      &[href]:hover {
        opacity: 0.6;
      }

      &[href]:focus {
        opacity: 0.6;
        outline: none;
      }

      &[href]:active {
        opacity: 0.3;
      }
    }
  }

  /* No-js */
  .no-js {
    .main-nav {
      display: block;
    }
  }
}

@media (min-width: $tablet-size) {
  .main-nav {
    width: 62.146%;
  }

  .main-nav__list {
    @include list-reset;

    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    a {
      font-size: 18px;
      line-height: 24px;
      font-family: "Oswald", Arial, Helvetica, sans-serif;
      color: $font-color-black;
      text-transform: uppercase;
      text-decoration: none;

      transition: opacity 0.2s ease-in;

      &[href]:hover {
        opacity: 0.6;
      }

      &[href]:focus {
        opacity: 0.6;
        outline: none;
      }

      &[href]:active {
        opacity: 0.3;
      }
    }
  }

  .main-nav__item--current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -7px;
      left: 0;

      height: 2px;

      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-size) {
  .main-nav {
    width: 39.34%;
  }

  .main-nav__item {
    a {
      font-size: 20px;
      line-height: 25px;
      color: $font-color-white;
    }
  }

  .inner-page .main-nav__item {
    a {
      color: $font-color-black;
    }
  }

  .main-nav__item--current {
    &::after {
      background-color: #ffffff;
    }
  }

  .inner-page .main-nav__item--current {
    &::after {
      background-color: #68b738;
    }
  }
}
