@media (max-width: $mobile-size-max) {
  .page-header {
    box-sizing: border-box;
    min-width: $mobile-size;
    max-width: $mobile-size-max;
    margin: 0 auto;
  }

  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding-right: 6.25%;
    padding-left: 6.25%;

    border-bottom: 1px solid #e6e6e6;
  }

  .page-header__logo-link {
    display: flex;
    justify-content: space-between;
    width: calc(50% + 51px);

    transition: opacity 0.2s ease-in;

    &[href]:hover {
      opacity: 0.8;
    }

    &[href]:focus {
      outline: none;
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
    }
  }

  .page-header__logo-text {
    align-self: center;
  }
}

@media (min-width: $tablet-size) {
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    min-width: $tablet-size;
    max-width: $tablet-size-max;
    min-height: 66px;
    margin: 0 auto;
    margin-top: 24px;
    padding-right: 3.9%;
    padding-left: 3.9%;
  }

  .page-header__logo-link {
    &[href]:hover {
      opacity: 0.8;
    }

    &[href]:focus {
      outline: none;
      opacity: 0.8;
    }

    &[href]:active {
      opacity: 0.6;
    }
  }

  .page-header__logo-text {
    display: none;
  }

  .toggle-nav {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .page-header {
    position: relative;

    min-width: $desktop-size;
    max-width: $desktop-size;
    margin-top: 54px;
    padding-right: 40px;
    padding-left: 40px;

    &::after {
      content: "";
      position: absolute;
      top: -54px;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 697px;

      background-color: #64a83b;
      background-image: url("../img/promo-bg-desktop.jpg");
      background-repeat: no-repeat;
      background-position: top right;
    }
  }

  .inner-page .page-header {
    &::after {
      content: none;
    }
  }

  .page-header__nav {
    margin-left: auto; /* IE11 fix */
  }
}
