@media (max-width: $mobile-size-max) {
  .promo__greenbg-container {
    position: relative;

    box-sizing: border-box;
    min-width: $mobile-size;
    max-width: $mobile-size-max;
    height: 305px;
    margin: 0 auto;
    padding-right: 6.25%;
    padding-left: 6.25%;

    background-color: #63a73a;
    background-image: url("../img/promo-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .promo__title {
    @include h-reset;

    padding-top: 29px;

    font-size: 36px;
    line-height: 36px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-align: center;
    color: $font-color-white;
  }

  .promo__info {
    @include p-reset;

    display: block;
    margin-top: 27px;

    font-size: 14px;
    line-height: 14px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    text-align: center;
    color: $font-color-white;
    text-transform: uppercase;
  }

  .promo__img {
    position: absolute;
    bottom: -132px;
    left: calc(50% - 140px);

    width: 280px;
    height: 270px;
  }

  .promo__btn-container {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    min-width: $mobile-size;
    max-width: $mobile-size-max;
    min-height: 175px;
    margin: 0 auto;
    padding-right: 6.25%;
    padding-left: 6.25%;
  }
}

@media (min-width: $tablet-size) {
  .promo {
    margin-top: 50px;
    min-height: 810px;
  }

  .promo__greenbg-container {
    position: relative;

    box-sizing: border-box;
    min-width: $tablet-size;
    max-width: $tablet-size-max;
    margin: 0 auto;
    padding-right: 3.9%;
    padding-left: 3.9%;
  }

  .promo__title {
    @include h-reset;

    width: 427px;
    margin-left: 12.712%;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: #111111;
  }

  .promo__info {
    display: block;
    margin-top: 43px;
    margin-left: 12.712%;

    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: #111111;
    text-transform: uppercase;
  }

  .promo__img {
    position: absolute;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin-top: 21px;
    margin-left: 4.4%;
  }

  .promo__btn-container {
    box-sizing: border-box;
    min-width: $tablet-size;
    max-width: $tablet-size-max;
    margin: 0 auto;
    margin-top: 48px;
    padding-right: 3.9%;
    padding-left: 3.9%;
  }

  .promo__link {
    margin-left: 12.712%;
  }
}

@media (min-width: $desktop-size) {
  .promo {
    margin-top: 100px;
    min-height: 480px;
  }

  .promo__greenbg-container {
    min-width: $desktop-size;
    max-width: 100%;
    padding-right: 110px;
    padding-left: 110px;
  }

  .promo__title {
    margin-left: 6.8%;
  }

  .promo__info {
    margin-left: 6.8%;
  }

  .promo__img {
    top: -100px;
    left: 50%;

    width: 552px;
    height: 499px;
    margin-left: -159px;
  }

  .promo__btn-container {
    min-width: $desktop-size;
    max-width: 100%;
    padding-right: 110px;
    padding-left: 110px;
  }

  .promo__link {
    margin-left: 6.8%;
  }
}
